
.Toastify__toast-container {
  position: fixed !important;
  top: 1rem !important;
  right: 1rem !important;
  left: auto !important;
  transform: none !important;
  z-index: 9999 !important;
}

.Toastify__toast {
  border-radius: 10px !important;
  font-size: 15px !important;
  font-weight: 500;
}
